.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 25rem; 
  @media screen and (max-width: 767px) {
    padding-left: 0;
    flex-direction: column;  
  }

  &__logo {
    max-width: 100%;
    width: 200rem;  
  }

  &__link {
    display: flex;
    align-items: center; 
    gap: 5rem;
    font-weight: 600;
    font-size: 16rem;  
    cursor: pointer;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 10rem;  
  }

  .navbar__username {
    font-size: 16rem; 
    font-weight: 600;
  }

  .navbar__logout {
    display: flex;
    align-items: center;
    gap: 5rem;  
  }
}
